<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DONDO</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">

  <!-- google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
  

  <link rel="stylesheet" href="/css/login.css">
  <script defer src="/js/main.js"></script>
  
</head>
<body>
    <!-- header -->
    <header>
      <div class="inner">
        <div>
          <a href="/" class="logo">
            DONDO
          </a>
        </div>
      </div>
      <div class="line"></div>
    </header>

    <!-- content -->
    <section class="signin">
      <h1>LOGIN</h1>
      <div class="signin__card">
        <h2> 
          <strong class="logo">Welcome!!</strong><br> <span class="logo">DONDO</span> 에 오신 것을 환영합니다.
        </h2>
        <form action="/equalAF" method="POST">
          <input type="text" name="equal_phone"placeholder="'-'를 빼고 핸드폰 번호를 입력하세요"/>
          <input type="password" name="equal_box" placeholder="박스 번호를 입력하세요." />
          <input type="submit" value="로그인" />
        </form>
        <button type='button' id="modal_btn">회원가입</button>
        <div class="black_bg"></div>
        <div class="modal_wrap">

          <div>
            <form action='/loginAF' method='post'>
              사용자 : <input type='text' name='user_name'><br>
              박스 번호 : <input type='text' name='box_number'><br>
              이메일 : <input type='email' name='user_email'><br>
              휴대폰 번호: <input type='text' name='phone_number'><br>
              <button type='submit' class="btn btn-register">회원가입</button>
              <input type="button"class="btn modal_close" value="닫기" />
            </form>
          </div>
        <div>
      </div>
    </section>


<!-- FOOTER -->
<footer>
  <div class="line"></div>

  <div class="inner">

    <ul class="menu">
      <li><a href="javascript:void(0)" class="pink"> DONDO</a></li>
      <li><a href="javascript:void(0)">박기원</a></li>
      <li><a href="javascript:void(0)">이원석</a></li>
      <li><a href="javascript:void(0)">유준혁</a></li>
      <li><a href="javascript:void(0)">이건우</a></li>
    </ul>

    <div class="info">
      <span>팀장(서버) : 박기원</span>
      <span>백엔드(AI) : 이원석</span>
      <span>하드웨어 : 유준혁</span>
      <span>프론트엔드 : 이건우</span>
      <span>TEL : 010)-@@@@-@@@@</span>
      <span> 멘토 : 김신형</span>
    </div>
    <div class="video">
      
    </div>
  </div>
</footer>




</body>
</html>