<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DONDO</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">

  <!-- icon -->
  <link rel="shortcut icon" href="#">


<!-- google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
  
  <link defer rel="stylesheet" href="/css/report.css">

</head>
<body>

  <!-- header -->
  <header>
    <div class="inner">
      <div>
        <a href="/" class="logo">
          DONDO
        </a>
      </div>
    </div>
    <div class="line"></div>
  </header>
  
  <!-- content -->
  <section>
    <div class="content">
      <div class="inner">
        <ul class="user_info">
          <% for(i=0; i< 1; i++){  %>
          <li class="logo" >USER: <%=report[i].user_name%> </li>
          <li class="logo">BOX_NUMBER: <%=report[i].box_number%> </li>
          <li class="logo">PHONE_NUMBER: <%=report[i].phone_number%> </li>
          <% } %>
        </ul>

        <div class="video">
          <video width="560" height="315" controls>
            <source src="https://lifeflavor.s3.ap-northeast-2.amazonaws.com/kakao.mp4" type="video/mp4">
            
          </video>

        </div>
      </div>
    </div>
  </section>


  <!-- FOOTER -->
  <footer>
    <div class="line"></div>
    <div class="inner">

      <ul class="menu">
        <li><a href="javascript:void(0)" class="pink"> DONDO</a></li>
        <li><a href="javascript:void(0)">박기원</a></li>
        <li><a href="javascript:void(0)">이원석</a></li>
        <li><a href="javascript:void(0)">유준혁</a></li>
        <li><a href="javascript:void(0)">이건우</a></li>
      </ul>

      <div class="info">
        <span>팀장(서버 및 총괄) : 박기원</span>
        <span>백엔드 : 유준혁</span>
        <span>프론트엔드 : 이건우</span>
        <span>TEL : 010)-@@@@-@@@@</span>
        <span> 멘토 : 김신형</span>

      </div>
    
    </div>
  </footer>

</body>
</html>