<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DONDO</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">

  <!-- icon -->
  <link rel="shortcut icon" href="#">


<!-- google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
  
  <link defer rel="stylesheet" href="/css/test.css">
</head>
<body>

  <!-- header -->
  <header>
    <div class="inner">
      <div>
        <a href="/" class="logo">
          DONDO
        </a>
      </div>
      <div class="log_out">
        <a class="btn" href="/login"> log out</a>
      </div>
    </div>
    <div class="line"></div>
  </header>
  
  <!-- content -->
  <section>
    <div class="content">
      <div class="inner">
        <div class="user_info">
          <span >USER: test </span>
          <span>PHONE_NUMBER: test </span>
       </div>

        <div class="video_content">

          <!-- <video id="video" width="1080" height="1920"  src="/videos/kakao (convert-video-online.com).mp4" type="video/mp4" crossorigin='anonymous' muted playsinline></video> -->
          <video id="video"  width="850" height="480" src="https://lifeflavor.s3.ap-northeast-2.amazonaws.com/kakos.mp4" type="video/mp4" autoplay controls muted playsinline crossorigin='anonymous' ></video>
          <canvas id="canvas" ></canvas>
          <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>
          <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"> </script>
          <script>
              const video = document.getElementById('video');
              const canvas = document.getElementById("canvas");
              const context = canvas.getContext("2d");

              // navigator.mediaDevices.getUserMedia({ video: true, audio: false })
              //     .then(function (mediaSource) {
              //         video.srcObject = mediaSource;
              //     });


              cocoSsd.load().then(model => {
                  predict();
                  function predict() {
                      context.drawImage(video, 0, 0);
                      model.detect(canvas).then(predictions => {
                          console.log('Predictions: ', predictions);
                          canvas.width = video.width;
                          canvas.height = video.height - 100;


                          for (let i = 0; i < predictions.length; i++) {
                              context.beginPath();
                              context.lineWidth = 2;
                              //party mode
                              // const color = Math.floor(Math.random() * 16777215).toString(16);
                              // context.strokeStyle = '#' + color //랜덤
                              context.strokeStyle = "#00ff80"
                              context.rect(...predictions[i].bbox);
                              context.stroke();
                              context.font = '20px Arial';
                              context.fillStyle = '#00ff80';
                              context.fillText(predictions[i].class + ' ' + parseInt(predictions[i].score * 100) + '%', predictions[i].bbox[0], predictions[i].bbox[1]);

                          }
                      });
                      requestAnimationFrame(predict);
                  }
                  }
              );
          </script>

        </div> 
          <!-- video_log 출력 -->
          <!-- <div class="video_log">
            <p id="txt">hi</p>
          </div>
          <script>
            function readTextFile(file)
            {
                var rawFile = new XMLHttpRequest();
                rawFile.open("GET", file, false);
                rawFile.onreadystatechange = function ()
                {
                    if(rawFile.readyState === 4)
                    {
                        if(rawFile.status === 200 || rawFile.status == 0)
                        {
                            var allText = rawFile.responseText;
                            var txt = document.getElementById("txt");
                            txt.innerHTML=allText.replace(/\n/g, '<br/>');
                        }
                    }
                }
                rawFile.send(null);
            }

            readTextFile("/txt/test.txt");
          </script> -->
      </div>
    </div>
  </section>


   <!-- FOOTER -->
   <footer>
    <div class="line"></div>
    <div class="inner">

      <ul class="menu">
        <li><a href="javascript:void(0)" class="pink"> DONDO</a></li>
        <li><a href="javascript:void(0)">박기원</a></li>
        <li><a href="javascript:void(0)">유준혁</a></li>
        <li><a href="javascript:void(0)">이건우</a></li>
      </ul>

      <div class="info">
        <span>팀장(서버 및 총괄) : 박기원</span>
        <span>하드웨어 & 백엔드 : 유준혁</span>
        <span>프론트엔드 & 백엔드 : 이건우</span>
        <span>TEL : 010)-@@@@-@@@@</span>
        <span> 멘토 : 김신형</span>

      </div>
    
    </div>
  </footer>

</body>
</html>