@import "/css/common.css";

.content {
  position: relative;
  width: 100%;
  background-color:#f6f5ef;

}

.content > .inner {
  position: relative;
  height: 1000px;
}
.content .inner .user_info {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 20px;
}
.content .inner .user_info .logo{
  display: block;
  position: relative;
  height: 30px;
  margin-bottom: 5px; 
  margin-left: 0;
}
.content .inner .video_content {
  margin: 20px;
}
.content .inner .video_content #video{
  position: absolute;
  /* display: block; */
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  height: auto;
}
.content .inner .video_content #canvas{
  position: absolute;
  /* display: block; */
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  height: auto;
}

.content .inner .video_log{
  position: relative;
  display: flex;
  width: 500px;
  left: 0;
  right: 0;
  top: 500px;
  margin: auto;
  padding: 20px;
}
.content .inner .video_log #txt {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
  width: 300px;
}


